.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 0 auto;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  background-color: blue;
}

.side-navigation{
  flex-grow: 1;
  background-color: yellow;
  max-width: 180px;
  padding-left: 0;
  text-align: center;
}

.main-page{
  flex-grow: 1;
  background-color: blue;
  padding-left: 0;
}

.main-page-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding-left: 0;
}