.container {
  margin: auto auto 0 auto;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

.side-navigation{
  max-width: 220px;
  padding-left: 0;
  text-align: center;
}

.main-page{
  position: absolute;
  height: auto;
  min-height: calc(100vh - 90px);
  width: 100%;
  top: 90px;
  padding-left: 0;
  background-color: #ecf0f1;
}

.main-page.login{
  left:0;
  top:0;
}

.main-page-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}