.container {
  margin: auto auto 0 auto;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

.side-navigation{
  max-width: 220px;
  padding-left: 0;
  text-align: center;
}

.main-page{
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  min-height: calc(100vh - 100px);
  /* height: auto; */
  width: calc(100vw - 30vw);
  top: 10vh;
  left: 200px;
  right: 200px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10vh;
  background-color: #ffffff;
  overflow: hidden;
}

.main-page.login{
  padding-top: 0vh;
  left:0;
  top:0;
  right: 0;
}

/* .main-page-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
} */

@media(max-width : 900px){
  .main-page{
      right: 50px;
      left: 50px;
  }
}