.container {
  margin: auto auto 0 auto;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

.side-navigation{
  max-width: 220px;
  padding-left: 0;
  text-align: center;
}

.main-page{
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  min-height: calc(100vh - 10vh);
  height: auto;
  width: calc(100vw - 30vw);
  top: 10vh;
  left: 15vw;
  right: 15vw;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
}

.main-page.login{
  left:0;
  top:0;
}

.main-page-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}