@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary: #79a6d6
}

.home-container{
  display: grid;

}


.button {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 10rem;
}

.home-card-header {
  color-adjust: #1e4288;
}

/* .calendar-holder {

} */

.roster-header {
  display: flex;
  flex-direction: row;
  background-color: #dbf3fa;
  /* text-transform: uppercase; */
  justify-content: space-between;
  color: #000000;
  font-weight: 200;
  font-size: 18pt;
  font-family: 'Roboto Condensed', sans-serif;
}

.roster-container{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 25vw;
  box-shadow: 5px 5px #1e5288;
}

/* .home-cardheader-col{
    display: flex;
    align-items: left;
    background-color: #1E5288;
} */


.runner-card-white{
  width: 100%;
  height: 5vh;
  cursor: "pointer";
  background-color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

.runner-card-grey{
  width: 100%;
  height: 5vh;
  cursor: "pointer";
  background-color: #fafafa;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.graph-container {
  padding-top: 10vh;
  box-shadow: 5px 5px #1e5288;
}
