.login-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,135,180,1) 0%, rgba(96,0,255,1) 100%);
}

.login-form{
    width: 100%;
    transform: translateY(30px);
}

.create-account-button {
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(25,25,25,0.6);
}

.login-card-style {
    border-radius: 10px;
    width: 450px;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.login-card-header{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font: 30px Open-Sans, sans-serif;
    color: black;
}

.login-logo-container{
    position: absolute;
    border-radius: 50%;
    top: 15%;
    width: 150px;
    transform: translateY(-50%);
    overflow: hidden;
}

.login-logo{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    width: 140px;
}

.login-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input-login {
    outline: none;
    width: 75%;
    text-align: left;
    font: 15px Open-Sans, sans-serif;
    background: rgba(200,200,200,0.5);
    padding: 10px 0 10px 45px;
    border: none;
    border-radius: 18px;
    color: rgba(25,25,25,0.6);
}

.form-input-login:focus{
    border-bottom-color: rgba(200,200,200,1);
    transition: all 0.5s ease-in-out;
}

.form-input-login::placeholder {
    color: rgba(25,25,25,0.6);
    opacity: 1;
}

.form-input-login:focus::placeholder{
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.login-envelope{
    position: fixed;
    left: 70px;
    height: 12px;
    align-self: center;
}

.login-lock{
    position: fixed;
    left: 73px;
    height: 20px;
    align-self: center;
}

.login-submit-button{
    width: 75%;
    height: 36px;
    border-radius: 18px;
    border: none;
    box-shadow: none;
    color: white;
    transition: all 0.5s linear;
    transform: translateY(15px);
    animation-name: failed-login;
    animation-duration: 4s;
}

.login-submit-button:disabled{
    background-color: #464646;
}

.login-submit-button:enabled{
    background-color: #05a0db;
}

.login-submit-button.failed-login{
    background-color: darkred;
    animation-name: shake;
    animation-duration: 0.5s;
}

.login-submit-button:hover:enabled{
    /*background-color: transparent;*/
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
    /*color: black;*/
}
.login-submit-button:focus{
    outline: none;
    box-shadow: 0 5px 15px rgba(18, 54, 231, 0.4);
}

.forgot-password-link{
    transform: translateY(15px);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 15px, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 15px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 15px, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 15px, 0);
    }
}
