@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.main-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    background-color: #ffffffee;
    border-style: solid;
    /* border-radius: 2rem; */
    border-color: #ffffffee;
}

.date-card {
    overflow: hidden;
    background-color: #571c43;
}

.race-text{
    font-family: 'Roboto Condensed', sans-serif;
}

.workout-text{
    font-family: 'Roboto Condensed', sans-serif;
}

.date-holder{
    display: flex;
    flex-direction: column;
}

.date-text {
    font-family: 'Nova Round';
    text-transform: uppercase;
    /* color: #378dbd; */
}

.date-number-text {
    font-family: 'Nova Round';
    text-transform: uppercase;
    font-weight: 700;
    font-size: x-large;
    color: #378dbd;
}

.race-dot {
    height: 8px;
    width: 8px;
    background-color: #ec1010ee;
    border-radius: 50%;
    display: inline-block;
  }

  .workout-dot {
    height: 8px;
    width: 8px;
    background-color: #4384aaee;
    border-radius: 50%;
    display: inline-block;
  }

  .empty-day {
      color: #d1d6daee;
      font-weight: 300;
      font-family: 'Mulish', sans-serif;
  }

  @media(max-width:1000px){
      .main-container{
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
      }
  }

  @media(max-width: 700px){
      .main-container{
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
      }
  }

