@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.main-container {
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffffee;
    border-style: solid;
    /* border-radius: 2rem; */
    border-color: #ffffffee;
    overflow: hidden;
}

.date-card {
    width: 9vw;
    height: 25vh;
    overflow: hidden;
}

.race-text{
    font-family: 'Roboto Condensed', sans-serif;
}

.workout-text{
    font-family: 'Roboto Condensed', sans-serif;
}

.date-holder{
    display: flex;
    flex-direction: column;
}

.date-text {
    font-family: 'Nova Round';
    text-transform: uppercase;
    /* color: #378dbd; */
}

.date-number-text {
    font-family: 'Nova Round';
    text-transform: uppercase;
    font-weight: 700;
    font-size: x-large;
    color: #378dbd;
}

.race-dot {
    height: 8px;
    width: 8px;
    background-color: #ec1010ee;
    border-radius: 50%;
    display: inline-block;
  }

  .workout-dot {
    height: 8px;
    width: 8px;
    background-color: #4384aaee;
    border-radius: 50%;
    display: inline-block;
  }

  .empty-day {
      color: #d1d6daee;
      font-weight: 300;
      font-family: 'Mulish', sans-serif;
  }

