.navbar-opening{
    background-color: rgba(94,2,253,1);
    display: none;
}

.navbar {
    width: 100vw;
    min-height: 50px;
    height: 5vh;
}

.navbar-logo {
    transform: translateY(2px);
    height: 40%;
    min-height: 20px;
}