.navigation-top-container{
    background-color: #ffffff;
    position: fixed;
    align-self: flex-start;
    width: 100vw;
    height: 7.5vh;
    min-height: 7.5vw;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;
}

.logo-container{
    max-width: 15vw;
    min-width: 15vw;
    flex-grow: 1;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo{
    height: 95%;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
}

.main-top-bar-container{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
}

.top-bar-widgets-container{
    width: fit-content;
    min-width: 300px;
    margin-left: auto;
}

.top-bar-user-information-container{
    width: 15vw;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.top-bar-triangle-selector{
    height: 8%;
    opacity: 0.5;
    padding-right: 30px;
    padding-left: 10px;
}

.top-bar-profile-photo{
    height: 75px;
    max-height: 75px;
    margin-right: 15px;
    clip-path: circle();
    border: 1px solid black;
}

#top-bar-user-name{
    font: 20px "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
}