.navigation-top-container{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100vw;
    min-width: 100vw;
    height: 100px;
    z-index: 1;
    display: flex;
}

.logo-container{
    max-width: 200px;
    min-width: 200px;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo{
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropbtn {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 50px;
    /* background-color: inherit; */
}

.dropbtn:hover .dropbtn:focus{
    color: #5f0202;
}

.dropshow {
    display: block;
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropnotshow{
    display: none
}

.main-top-bar-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #1e48be;
}


.navigation-link{
    color: #1e5288;
    font: 20px "Helvetica Neue", sans-serif;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navigation-link:hover{
    border-bottom: none;
    background-color: #ddd;
}

@media(max-width : 900px){
    .navigation-top-container{
        display: none;
    }
}

  

