.teamselect-container {
    text-align: center;
}

.teamselect-textheader{
    margin-top: 1%;
}

.teamselect-cardcontainer{
    display: flex;
    align-items: center;
}

.teamselect-rows{
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.teamselect-teamcard{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1%;
    width: 12%;
    min-width: 150px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.teamselect-teamcard:hover{
    background: #D5D5D5;
}

.teamselect-runnercount{
    font-size: 25px;
}