.navBar{
    width: 100%;
    top: 0;
    left: 0;
    position:sticky;
    top: 0;
    background-color:blue;
    height: 56px;
}

.navBarItems{
    display: flex;
    align-items: center;
    padding: 1em;
    margin-top: .2em;
}
.navBarHome{
margin-left: 1em;
margin-right: 1em;
}
.navBarCal{
    margin-right: 1em;
    margin-left: 1em;
}
.navBarWorkout{
    margin-right: 1em;
    margin-left: 1em;
}
.navBarSettings{
    margin-right: 1em;
    margin-left: 1em;
}
.navBarItems a{
    color: white;
    text-decoration: none;
}
.navBarItems a:hover{
    color: #F20C58
}
.navBarItems a:active{
    color: #F20C58
}